data/*
!data/.gitkeep
.snakemake/
__pycache__/
.ipynb_checkpoints/
test_run/
# raw / intermediate sequencing data never goes to git (one pattern per line)
*.fastq
*.fastq.gz
*.fq.gz
*.bam
*.bai
*.cram
*.crai
*.pod5
*.fast5
*.sra
*.spring
*.zst
# ...except the small real-data slices used by `make test`
!test_data/*.fastq.gz
!test_data/*.pod5
docs/defence_notes_ru.md
